#navbarr {
    background-color: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 1.2rem;
    padding: 0 1rem;
    margin: 0;
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
}

.desktopMenuListItem {
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.desktopMenuListItem:hover {
    color: #ffff00;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.active {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.listItem {
    color:white;
    width: 80%;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(40,40, 40);
    text-decoration: none;
    cursor: pointer;
}

#mobile {
    display: none;
}

#mobile i{
    color: white;
    align-items: center;
}

.resumeBtn {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.resumeBtn img {
    padding: 0;
    margin: 0 1px 0 0;
}

@media screen and (max-width : 720px) {
    #navbarr {
        padding: 0 1rem;
        height: 4rem;
        flex-direction: row;
    }
    #mobile {
        display: block;
    }
    #mobile img{
        height: 3rem;
        width: 3rem;
        color: white;
        cursor: pointer;
    }
    .logo {
        height: 2.8rem;
        width: 4rem;
        border-radius: 10%;
    }
    .desktopMenu {
        display: none;
    }
    .resumeBtn {
        display: none;
    }
    .navMenu {
        height:100vh;
        width: 250px;
        z-index: -1;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 2rem;
        right: 0px;
        background: rgb(30, 30, 30);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
    }
}