#contact {
    height: calc(100vh - 9rem);
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
}

.contactPageTitle {
    font-size: 3rem;
}

.contactPageDesc {
    font-size: medium;
    font-weight: 300;
    margin-bottom: 1rem;
}

.contactForm {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.namee, .emaill, .msgg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: rgb(30, 30, 30);
}
.name, .email, .msg {
    font-size: medium;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color:white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(30, 30, 30);
    display: flex;
}

.require {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-right: 1rem;
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 1.2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    width: 90vw;
    max-width: 30rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    width: 100vw;
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 250;
    font-size: medium;
    text-decoration: none;
    color: rgb(117, 117, 117);
    background-color: rgb(30, 30, 30);
}

.footer p {
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: rgb(117, 117, 117);
}

img {
    margin: 5px;
}



@media screen and (max-width:720px) {
    #contact {
        height: calc(100vh - 6rem);
    }
    .contactPageTitle {
        font-size: 3rem;
        margin: 0.5rem 0;
    }
    .contactPageDesc {
        font-size: small;
        padding: 0 10px;
        margin-bottom: 0.5rem;
    }
    .footer {
        height: 3rem;
        font-size: 0.8rem;
        width: 100vw;
        text-align: center;
        padding: 0 1rem;
        margin: 0;
    }
    .links a img{
        height: 35px;
        width: 35px;
    }
    #telephone {
        height: 32px;
        width: 32px;
    }
}