#contact {
    height: calc(100vh - 9rem);
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.contactPageDesc {
    font-size: medium;
    font-weight: 300;
    margin-bottom: 1rem;
}

.contactForm {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color:white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(30, 30, 30);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 1.2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    width: 90vw;
    max-width: 30rem;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.footer {
    width: 100vw;
    height: 4rem;
    background: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: medium;
}

img {
    margin: 5px;
}

@media screen and (max-width:720px) {
    #contact {
        height: calc(100vh - 6rem);
    }
    .contactPageTitle {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .contactPageDesc {
        font-size: small;
        padding: 0 10px;
        margin-bottom: 0.5rem;
    }
    .msg {
        height: 100px;
    }
    .footer {
        height: 2rem;
        font-size: 0.8rem;
    }
}