.cardContainer {
    color: black;
    height: 25rem;
    width: 95vw;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.imgContainer {
    height: 25rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cardImg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cardBody {
    height: 25rem;
    width: 60%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardTitle {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.cardDesc {
    font-size: 1.2rem;
    font-weight: 300;
}

@media screen and (max-width:768px) {
    .imgContainer {
        height: 70%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cardBody {
        height: 60%;
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    .cardContainer {
        flex-direction: column;
        width: 90vw;
    }

    .cardTitle {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
    }

    .cardDesc {
        font-size: 0.7rem;
        font-weight: 300;
    }

    #cardBtn {
        height: 1rem;
        padding: 0.8rem;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
}