/* about.css */

#about {
    overflow: hidden;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 2rem;
    margin: 0;
}

.aboutTitle {
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    font-size: 3rem;
}

.aboutMain {
    height: 85%;
    width: 95vw;
    gap: 2%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(225, 241, 255);
}

.aboutContainer {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.aboutDesc {
    width: 100%;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 5vh;
    margin: 0;
}

.skillsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

.skillsImg {
    height: 5vw;
    width: 5vw;
    margin: 0.5rem 1rem;
    padding: 0;
}

.netlify {
    height: 5vw;
    width: 7vw;
}

@media screen and (max-width : 768px) {
    #about {
        height: calc(100vh - 3.5rem);
        padding: 0 1rem;
    }

    .aboutTitle {
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }

    .aboutContainer {
        width: 100%;
    }

    .aboutDesc {
        font-size: 4.35vw;
        font-weight: 300;
        margin: 0;
        line-height: 0.55cm;
    }

    .aboutMain {
        height: 88%;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .skillsImg {
        height: 13vw;
        width: 13vw;
    }

    .netlify {
        height: 13vw;
        width: 22vw;
    }
}