/* about.css */

#about {
    overflow: hidden;
    height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    margin: 0;
}

.aboutTitle {
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    font-size: 3rem;
}

main {
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(225, 241, 255);
}

.aboutContainer {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.aboutDesc {
    width: 100%;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 2rem 2rem;
}

.skillsContainer {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0;
    margin-bottom: 2rem;
}

.skillsImg {
    margin: 0.5rem;
}

@media screen and (max-width : 600px) {
    #about {
        height: calc(100vh - 4rem);
        padding: 0;
    }
    .aboutTitle {
        font-size: 2rem;
        margin: 0.5rem;
    }

    .aboutContainer {
        height: 100%;
        width: 100%;
    }

    .aboutDesc {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 20px 0 0 0;
        padding: 10px;
        line-height: 0.4cm;
    }

    .aboutMain {
        height: 85%;
        width: 90vw;
    }

    .skillsImg {
        height: 35px;
        width: 35px;
    }

    .netlify {
        height: 35px;
        width: 85px;
    }
}
