/* about.css */

#about {
    overflow: hidden;
    height: calc(100vh - 3.5rem);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 2rem;
    margin: 0;
}

.aboutTitle {
    font-weight: 600;
    margin: 1rem 0 0.5rem 0;
    font-size: 3rem;
}

.aboutMain {
    height: 85%;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    background-color: rgb(225, 241, 255);
}

.aboutContainer {
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.aboutDesc {
    width: 100%;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 1.25cm;
    padding: 2rem 2rem 1rem 2rem;
    margin: 0;
}

.skillsContainer {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0;
}

.skillsImg {
    margin: 0.2rem 0.5rem;
}

@media screen and (max-width : 768px) {
    #about {
        height: calc(100vh - 3.5rem);
        padding: 0 1rem;
    }

    .aboutTitle {
        font-size: 2rem;
        margin: 0 0 0.5rem 0;
    }

    .aboutContainer {
        width: 100%;
    }

    .aboutDesc {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        padding: 10px;
        line-height: 0.47cm;
    }

    .aboutMain {
        height: 88%;
        width: 90vw;
        border-radius: 0.5rem;
    }

    .skillsImg {
        height: 30px;
        width: 30px;
    }

    .netlify {
        height: 30px;
        width: 70px;
    }
}