#intro {
  height: calc(100vh - 5rem);
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
    height: 100%;
    width: 40%;
}

.introContent {
    height: 100%;
    width: 50%;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(255, 255, 56);
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.resumeBtn {
    background-color: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
    #intro {
        height: calc(100vh - 4rem);
      }
    .bg {
       display: none;
    }
    .introContent {
        width: 95%;
    }
    .hello {
        font-size: 1.8rem;
        color: black;
    }
    .introName {
        color: rgb(249, 249, 249);
        font-size: 2rem;
    }
    .introText {
        color: rgb(255, 0, 208);
        font-size: 1.5rem;
    }
    .introPara {
        font-size: large;
    }
    .minus {
        display: none;
    }
    .btn {
        margin: 0;
        padding: 0.2rem 1rem;

    }
}
