#intro {
  height: calc(100vh - 5rem);
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(255, 255, 56);
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
    #intro {
        height: calc(100vh - 4rem);
      }
    .bg {
        left: -30vw;
    }
    .introContent {
        padding-top: 6.5em;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100vw;
    }
    .hello {
        font-size: 8vw;
        color: black;
    }
    .introName {
        color: rgb(47, 0, 255);
        font-size: 2.5rem;
    }
    .introText {
        color: rgb(255, 0, 225);
        font-size: 2rem;
    }
    .introPara {
        font-size: large;
    }
    .minus {
        display: none;
    }
    .btn {
        margin: 0;
        padding: 0.2rem 1rem;

    }
}
