/* Entire CSS */

.navHR_CTN {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navHR {
  width: 95%;
  margin: 0;
  padding: 0;
}

#intro {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 2rem;
  margin: 0;
}

.introContent {
  height: 100%;
  width: 60%;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 0 0;
}

.introContent hr {
  margin: 1rem;
}

.hello {
  font-size: 3vw;
  font-weight: 100;
}

.introName {
  font-size: 6vw;
  font-family: 'Aldrich', sans-serif;
  color: white;
}

.introText {
  font-size: 4vw;
}

.introPara {
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0;
}

.desktopMenuBtn {
  height: 10%;
  width: 100%;
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.3rem 0;
  margin-right: 2rem;
  border-radius: 2rem;
  font-size: 1.5vw;
}

.introbtnCtn {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.desktopMenuBtn img {
  margin: 0 5px 0 0;
}

.dp {
  width: 40%;
  height: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Add position relative to allow absolute positioning of children */
}

.dp-Pic {
  display: block;
  /* Ensure the image is displayed as a block element */
  max-width: 100%;
  /* Limit the maximum width of the image to its container */
  max-height: 100%;
  /* Limit the maximum height of the image to its container */
  width: 100%;
  /* Allow the width of the image to adjust based on its height */
  height: 100%;
  /* Allow the height of the image to adjust based on its width */
  object-fit: contain;
  /* Ensure the image fits within the container while preserving its aspect ratio */
}

.flip-dp-inner {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp:hover .flip-dp-inner {
  transform: rotateY(180deg);
}

.flip-dp-front,
.flip-dp-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.flip-dp-back {
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  #intro {
    height: calc(100vh - 3.5rem);
    padding: 0 1rem;
    margin-top: 0.5rem;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .dp {
    height: 25%;
    width: 100%;
    margin: 1rem;
    overflow: visible;
  }

  .dp-Pic {
    width: 55%;
    height: 100%;
    object-fit: contain;
    /* Ensure the image fits within the container while preserving its aspect ratio */
  }

  .flip-dp-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dp:hover .flip-dp-inner {
    transform: rotateY(180deg);
  }

  .flip-dp-front,
  .flip-dp-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-dp-back {
    transform: rotateY(180deg);
  }

  .introContent {
    height: 75%;
    width: 100%;
    margin: 0;
    justify-content: start;
  }

  .hello {
    font-size: 1.2rem;
  }

  .introName {
    font-size: 1.5rem;
  }

  .introText {
    font-size: 1.4rem;
    margin: 0 0 0.5rem 0;
  }

  .introPara {
    font-size: medium;
    font-weight: 500;
    line-height: 0.5cm;
    margin-bottom: 1rem;
  }

  .minus {
    display: none;
  }

  .introContent hr {
    display: none;
  }

  .desktopMenuBtn {
    display: flex;
  }

  .desktopMenuBtn {
    height: 2rem;
    width: 8rem;
    padding: 1rem 0;
    border-radius: 2rem;
    font-size: 0.9rem;
    margin: 0 5px;
  }

  .introbtnCtn {
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (1500px <=width <=2000px) {

  .introContent {
    font-size: 5.1rem;
  }
}