#certificate {
    overflow: hidden;
    height: calc(100vh - 5rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificateContainer {
    background-color: rgb(225, 241, 255);
    color: black;
    height: 43rem;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 600px) {
    #certificate {
        height: calc(100vh - 15.5rem);
    }
}