#certificate {
    overflow: hidden;
    height: calc(100vh - 5rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificateContainer {
    height: 44rem;
    width: 90%;
}

@media screen and (max-width : 720px) {
    #certificate {
        height: calc(100vh - 4rem);
    }
    .certificateContainer {
        height: 20rem;
        width: 30rem;
        transform: rotate(90deg);
    }
}