*,*:before,*:after{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: rgb(24, 56, 70);
    color: rgb(106, 181, 197);
    overflow: hidden;
    overflow-y: scroll;
  }
  
  button, a, Link {
    cursor: pointer;
  }
  
  hr {
    width: 100%;
    border: 1px solid grey;
  }
  
  li,a{  
    text-decoration: none;  
  }

  h1 {
    color: yellow;
  }